<!DOCTYPE html>
<html>
  <head>
    <title>Test Results</title>
    <style>
      p.passed {
        background-color: rgb(186, 213, 186);
      }
      p.failed {
        background-color: rgb(254, 175, 175);
      }
      p.pending {
        background-color: rgb(243, 243, 243);
      }
      table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid gray;
      }
      thead {
        text-align: center;
        background-color: gray;
        color: white;
      }
      td {
        border: 1px solid gray;
      }
      table:not(.total) > tbody > tr:hover {
        filter: brightness(150%);
      }
      tr.passed {
        background-color: rgb(186, 213, 186);
      }
      tr.failed {
        background-color: rgb(254, 175, 175);
      }
      tr.pending {
        background-color: rgb(243, 243, 243);
      }
      table.total td.passed {
        background-color: rgb(186, 213, 186);
      }
      table.total td.failed {
        background-color: rgb(254, 175, 175);
      }
      table.total td.pending {
        background-color: rgb(243, 243, 243);
      }
      td.passed {
        color: green;
      }
      td.failed {
        color: red;
      }
      td.pending {
        color: gray;
      }
      td.link {
        text-align: center;
      }
      td.message {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <p><a href="/">All Tests</a> / Test Suite #<%= id %></p>
    <p class="<%= results.status %>">Status - <%= results.status %></p>
    <table>
      <thead>
        <td>Info</td>
        <td>Status</td>
        <td>Name</td>
      </thead>
      <% for (let test of results.assertionResults) {%>
      <tr class="<%= test.status %>">
        <td class="link">
          <button
            onclick="location = '/<%= id %>/<%= results.assertionResults.indexOf(test) %>'"
          >
            Details
          </button>
        </td>
        <td class="<%= test.status %>"><%= test.status %></td>
        <td><%= test.title %></td>
      </tr>
      <% } %>
    </table>
    <% if (results.message) { %>
    <table class="total">
      <tr>
        <td class="message">
          <pre>
        <%- results.message %>
    </pre
          >
        </td>
      </tr>
    </table>
    <% } %>
  </body>
</html>
